{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript",
    "eslint-config-prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "react"
  ],
  "ignorePatterns": ["dist/**/*.js"],
  "rules": {
    "prettier/prettier": [
      1,
      {
        "singleQuote": true,
        "semi": true
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ],
    "import/prefer-default-export": "off",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-console": "error",
    "no-unused-vars": ["error", {"argsIgnorePattern": "next", "varsIgnorePattern": "iat"}],
    "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "next", "varsIgnorePattern": "iat"}]

  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    },
    "insert_final_newline": true
  }
}